* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #f4f4f4;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

#logo a {
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    color: #444;
    transition: color 0.3s ease; 
  }
  
#logo a:hover {
    text-decoration: underline; 
    color: #444;
  }

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

#content-wrapper {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

#logo img {
    max-width: 100%;
    height: auto;
    padding-top: 10px;
    margin-bottom: -10px;
}

#logo p {
    padding-bottom: 20px;
}

#input-container {
    align-items: center;
    display: flex;
    justify-content: center;
    
}

#input-container-show input {
    padding: 10px;
    width: 300px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1em;

}

#input-container-show ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    position: absolute;
    z-index: 1000;
    margin: auto;
    width: 410px;
    align-items: center;
    display: flex;
    text-align: left;
  }

  #input-container-show li {
    padding: 8px 10px;
    cursor: pointer;
  }
  
  #input-container-show  li:hover {
    background-color: #f0f0f0;
  }
  
  #input-container button {
    padding: 10px 20px;
    background-color: #17466bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    clear:both;
    font-size: 1em;
  }

#output {
    /* min-height: calc(100vh - 55px); */
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
}


#details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#season-episode {
    font-weight: bold;
    font-size: 1.25em; 
    text-align: center;
    margin-bottom: 25px;
}

#details h3 {
    text-align: left;
}

#details p {
    text-align: left;
    margin: 10px 0px 0px 0px;
    line-height: 1.2em;
}

#poster-container {
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 100%; 
    margin-top: 20px;
    padding-bottom: 20px;
}
    
#poster {
    width: 100%; /* Make image 100% of the container width */
    max-width: 600px; /* Optional: Set a maximum width for larger screens */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image scales properly */
    padding-bottom: 20px;
}

#about {
    font-size: 1em;
    text-align: left;
    margin: 20px;
}

#about h2 {
    text-align: center;
}

#about p {
    margin-bottom: 15px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    position: sticky;
    bottom: 0;
}

#footer-about ul {
    list-style: none;
    width: 50%;
    text-align: left;
    font-size: .8em;
}

#footer-about a {
    text-decoration: none;
    color: #3DE5EE;
    transition: color 0.3s ease; 
  }
  
#logo a:hover {
    text-decoration: none; 
    color: #3DE5EE;
  }

#tmd {
    font-size: .8em;
}

#tmdb-logo {
    width: 150px;
    vertical-align: middle;
}

footer div {
    flex: 1;
    padding: 10px;
    text-align: center;
    align-content: center;
}

@media (max-width: 600px) {
    footer {
        flex-direction: column;
        position: relative;
    }

    footer div:nth-child(1) {
        order: 2;
    }

    footer div:nth-child(2) {
        order: 0;
    }

    footer div:nth-child(3) {
        order: 1;
        justify-content: right;
    }
    #input-container {
        width: 100%;
        font-size: .9em;
    }
    #tmdb-logo {
        width: 100px;
    }
    #bmc-wbtn {
        position: relative !important;
        margin-bottom: -100px !important;
        transform: translate(400%, -100%) !important;
    }
    
}