<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>About Shuffle.Show: A Random TV Series Episode Selector</title>

</head>
<body>
    <main>
        <div id="content-wrapper">
            {% include 'logo.html' %}
        <div id="about">
            <h2>About</h2>
            <p>Have you ever wanted to watch your favorite show but cannot decide which episode to watch? I built <strong>Shuffle.Show</strong> to solve this very problem! This is a personal project of a computer nerd and TV junkie who couldn't decide which Futurama episode to watch - having seen each one a hundred times. So, I took the paradox of choice out of the equation and late fate decide what I watched.</p>
            <p>By the way, any ad revenue or donations go directly toward maintence and hosting costs.</p>
            <p>If you have made it this far, thanks for stopping by! I hope you have enjoyed the app.</p>
        </div>
        </div>
    </main>
 
    {% include 'footer.html' %}


</body>
</html>
