<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Blog Posts</title>
</head>

<body>
    <main>
        <div id="content-wrapper">
            {% include 'logo.html' %}
        <div id="blog-list">
            <h2>All Blog Posts</h2>
            <br/>
             <ul>
        {% for post in blogs %}
                <div class="post-list-container">
                    <div class="post-list-container-image">
                        <img src = "{{ post['image_url'] }}" />
                    </div>
                    <div class="post-list-container-title">
                            <a href="/blog/{{ post['file_name'] }}">{{ post['blog_title'] }}</a><br/>
                            {{ post['date_generated'] }}
                    </div>
                </div>
    
        {% endfor %}
    </ul>
        </div>
        </div>
    </main>
 
    {% include 'footer.html' %}


</body>

</html>