       <div id="footer-about">
            <ul>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('privacy') }}">Privacy Policy</a></li>
            </ul>
        </div>
        <div>
            Powered by 
            <a href="https://www.themoviedb.org/" target="_blank" rel="noopener noreferrer">
              <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_1-8ba2ac31f354005783fab473602c34c3f4fd207150182061e425d366e4f34596.svg" 
                   alt="The Movie Database" id="tmdb-logo">
            </a>
        </div>
        <div>
            <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="pickmyshow" data-description="Support maintenance of pickmy.show!" data-message="" data-color="#007bffff" data-position="Right" data-x_margin="12" data-y_margin="12"></script>
        </div>