<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7820059436591194"
crossorigin="anonymous"></script>
<ins class="adsbygoogle"
style="display:block; text-align:center;"
data-ad-layout="in-article"
data-ad-format="fluid"
data-adtest="on"
data-ad-client="ca-pub-7820059436591194"
data-ad-slot="4374621631"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</main>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<footer>
       <div id="footer-about">
            <ul>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('privacy') }}">Privacy Policy</a></li>
            </ul>
        </div>
        <div>
            <span id="tmd">Powered by 
            <a href="https://www.themoviedb.org/" target="_blank" rel="noopener noreferrer">
              <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_1-8ba2ac31f354005783fab473602c34c3f4fd207150182061e425d366e4f34596.svg" 
                   alt="The Movie Database" id="tmdb-logo"></span>
            </a>
        </div>
        <div>        
            <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="random.ep" data-description="Support maintenance of Random.ep" data-message="" data-color="#26B0A1" data-position="Right" data-x_margin="12" data-y_margin="12"></script>
        </div>
</footer>