<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XGNCJE5NC6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XGNCJE5NC6');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7820059436591194"
     crossorigin="anonymous"></script>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="Easily choose random episodes from your favorite TV shows.">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
     <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
  
     <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebPage",
        "name": "Shuffle.Show: A Random TV Series Episode Selector",
        "description": "Discover random episodes from your favorite TV shows.",
        "url": "http://www.shuffle.show",
        "potentialAction": {
          "@type": "SearchAction",
          "target": "http://www.shuffle.show?show=Futurama",
          "query-input": "required name=search_term"
        }
      }
      </script>