<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'gtag.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Easily choose random episodes from your favorite TV shows.">
    <meta name="keywords" content="random episode finder, TV shows, watch TV shows, random episodes, streaming, TV show discovery">
    <title>pickmy.show Random Episode Finder</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "pickmy.show Random Episode Finder",
          "description": "Discover random episodes from your favorite TV shows.",
          "url": "http://www.pickmy.show",
          "potentialAction": {
            "@type": "SearchAction",
            "target": "http://www.pickmy.show?show=Futurama",
            "query-input": "required name=search_term"
          }
        }
        </script>

</head>
<body>
    <div id="loading-overlay" style="display: none;">
        <div class="spinner"></div>
      </div>
    <main>
        <div id="content-wrapper">
            <div id="logo">
                <a href="/"><img src="{{url_for('static', filename='logo.svg')}}" alt="pickmy.show logo"/></a>
                <p><a href="/">Random Episode Finder</a></p>
            </div>

            <div id="input-container">
                <div id="input-container-show">
                    <input type="text" id="showInput" placeholder="Enter TV show name" autocomplete="off">
                    <ul id="autocomplete" style="display: none;"></ul>
                    <input type="text" id="keywordInput" placeholder="Enter keywords (optional, comma-separated)">
                    <div>
                        <button id="findEpisode">Get Random Episode</button>
                    </div>
                </div>
            </div>

            <div class="output" id="output" style="display: none;">
                <p id="season-episode"></p>
                <div id="details">
                    <div style="flex-grow: 1;">
                        <h3>Episode Details:</h3>
                        <p><strong>Title:</strong> <span id="title"></span></p>
                        <p><strong>Synopsis:</strong> <span id="synopsis"></span></p>
                    </div>
                </div>
                <div id="poster-container">
                  <img id="poster" src="" alt="Episode Poster" />
              </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <footer>{% include 'footer.html' %}</footer>
</body>
</html>
