<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random Episode Finder</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
  <div id="loading-overlay" style="display: none;">
    <div class="spinner"></div>
  </div>
  <h1><a href="/">Random Episode Finder</a></h1>
  <div style="position: relative;">
    <input type="text" id="showInput" placeholder="Enter TV show name" autocomplete="off">
    <ul id="autocomplete" style="display: none;"></ul>
  </div>
  <div>
    <input type="text" id="keywordInput" placeholder="Enter keywords (optional)">
  </div>

  <button id="findEpisode">Get Random Episode</button>

  <div class="output" id="output" style="display: none;">
    <p id="season-episode" class="season-episode"></p>
    <div class="details-container">
        <div class="text-details">
            <h3>Episode Details:</h3>
            <p><strong>Title:</strong> <span id="title"></span></p>
            <p><strong>Synopsis:</strong> <span id="synopsis"></span></p>
        </div>
        <div class="poster-container">
            <img id="poster" src="" alt="Episode Poster" />
        </div>
    </div>
    <div class="watch-container">
        <h3>Where to Stream</h3>
        <ul id="watch-providers"></ul>
        <span style="font-size: .8em;">Watch provider data from <a href="https://www.justwatch.com/", target="_blank"><img src = "https://www.themoviedb.org/assets/2/v4/logos/justwatch-c2e58adf5809b6871db650fb74b43db2b8f3637fe3709262572553fa056d8d0a.svg" alt="JustWatch" id="justwatch-logo">
        </a></span>
    </div>
</div>


<script src="{{ url_for('static', filename='js/app.js') }}"></script>

<footer>
  <p>Powered by <a href="https://www.themoviedb.org/" target="_blank" rel="noopener noreferrer">
    <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_1-8ba2ac31f354005783fab473602c34c3f4fd207150182061e425d366e4f34596.svg" alt="The Movie Database" id="tmdb-logo">
  </a></p>
</footer>

</body>
</html>
