<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'gtag.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy for pickmy.show Random Episode Finder</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">

</head>
<body>
    <main>
        <div id="content-wrapper">
            {% include 'logo.html' %}
        <div id="about">
            <h2>Privacy Policy</h2>
            <p>Your privacy is important to us. This site does not use cookies or collect any personal data. However, we use Google Analytics to analyze site traffic and improve user experience. Google Analytics may collect anonymized data, such as your IP address and browser type. Additionally, this site features Google AdSense to display ads. These services may use cookies or similar technologies to serve ads based on your previous visits to this or other websites. By using this site, you consent to the processing of data by Google in accordance with their privacy policies. For more information, please review Google's Privacy Policy.</p>
        </div>
        </div>
    </main>
 
    <footer>{% include 'footer.html' %}</footer>


</body>
</html>
