<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Privacy Policy for Random.Ep A Random TV Series Episode Selector</title>

</head>
<body>
    <main>
        <div id="content-wrapper">
            {% include 'logo.html' %}
        <div id="about">
            <h2>Privacy Policy</h2>
            <p>Your privacy is important to me. This site does not use cookies or collect any personal data. However, we use Google Analytics to analyze site traffic and improve user experience. Google Analytics may collect anonymized data, such as your IP address and browser type. Additionally, this site features Google AdSense to display ads. These services may use cookies or similar technologies to serve ads based on your previous visits to this or other websites. By using this site, you consent to the processing of data by Google in accordance with their privacy policies. For more information, please review Google's Privacy Policy.</p>
        </div>
        </div>
    </main>
 
    {% include 'footer.html' %}


</body>
</html>
